{{#framework}}
<button style="--sel-bg-color: {{bgcolor}}; --sel-color: {{color}}">
    <input type="radio" id="select-fw-{{shorthand}}" name="framework" value="{{shorthand}}"/>
    <label for="select-fw-{{shorthand}}">{{name}}</label>
</button>
{{/framework}}